<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>More-Recipes&nbsp|&nbspAbout us/Contact us</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>

  <body>

    <section class="home-header">
      <div class="container-fluid">
    	  <div class="row">
    	    <div class="col-lg-12">
    		    <a class="btn btn-outline-light float-right" href="signin.html" role="button">Sign In</a>
            <a class="btn btn-outline-light float-right" style="margin-right:10px" href="signup.html" role="button">Sign Up</a>
    		  </div>
    		  <div class="col-lg-12">
    		    <h1 class="text-light text-center display-3">MORE RECIPES</h1>
    		  </div>
    	  </div>
    	</div>
    </section>

    <section>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="height: 50px; font-size:15px; border-bottom: 1px solid lightgrey; margin-bottom: 30px">
    	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    	    <span class="navbar-toggler-icon"></span>
    	  </button>
    	  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      		  <li class="nav-item active">
      		    <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
      		  </li>
      		  <li class="nav-item dropdown">
    		      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		          RECIPES
    		      </a>
    		      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    		        <a class="dropdown-item" href="top-favorites.html" style="font-size: 15px">Top Favourites</a>
    		        <a class="dropdown-item" href="top-voted.html" style="font-size: 15px">Top Voted</a>
    		      </div>
    		    </li>
    		  </ul>
      		<form class="form-inline my-2 my-lg-0">
      		  <input class="form-control mr-sm-2 " style="font-size: 15px" type="search" placeholder="Find a Recipe" aria-label="Search">
      		  <a class="btn btn-outline-success my-2 my-sm-0"style="font-size: 15px" type="submit" href="search.html" role="button">Search</a>
      		</form>
    	  </div>
  	  </nav>
    </section>

    <section class="container text-justify">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="display-4" style="text-align: right; padding-right: 20px; border-bottom: 1px solid lightgrey">ABOUT US</h4>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="display-4" style="text-align: right; padding-right: 20px; border-bottom: 1px solid lightgrey">CONTACT US</h4>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>

        </div>
      </div>
    </section>

    <section class="home-footer">
      <div class="container-fluid">
  		  <div class="row">
  		    <section class="col-sm-12">
  			    <nav>
  			      <a href="about-us-contact.html" style="color: #fff; text-decoration: none">
  				      <ul style="list-style-type: none; padding-left: 0em">
  					      <li><strong><small>ABOUT US</small></strong></li>
  					      <li><strong><small>CONTACT US</small></strong></li>
  				      </ul>
  			      </a>
  			    </nav>
  			  </section>
  		  </div>
  	    <section class="col-sm-12 text-center" style="margin-bottom: 10px; color: #fff; font-size:12px">
  		    <p>&copy 2017 More-Recipes</p>
  		  </section>
  		</div>
    </section>

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js" ></script>
  </body>
</html>
