<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>More-Recipes&nbsp|&nbspView Recipe</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open
    +Sans|Kaushan+Script">
   </head>
  <body class="view-recipe-bg">

    <section id="nav">
			<nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-custom">
				<a class="navbar-brand" href="#">MORE RECIPES</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="navbar-register"style = "margin-right: 20px" href="#">REGISTER</a>
            </li>
            <li class="nav-item">
							<a class="navbar-register"style = "margin-right: 20px" href="#">SIGN IN</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Find a Recipe" aria-label="Search">
					</form>
				</div>
			</nav>
		</section>
    <section class="container-fluid text-center" style="margin-top: 80px" >
       
        <div class="row">
          <section class="col-sm-12 col-md-6 col-lg-4">
            <figure class="figure" style="border: 1px solid lightgrey; padding: 10px">
              <img src="assets/image/profile-pic.jpeg" alt="image 1"  class="figure-img img-thumbnail mx-auto">
              <figcaption class="figure-caption" style="text-align: left">
                <p class="text-center"><strong>DISPLAY NAME</strong></br>MarieCooper</p>
                <p class="text-center"><strong>EMAIL</strong></br>mariecee@gmail.com</p>
                <p class="text-center"><strong>ABOUT ME</strong></br>Software Engineer with so much love for Chicken Fried Steak!!!</p>
                <a class="btn btn-outline-dark" href="edit-profile.html" role="button">EDIT PROFILE</a>
              </figcaption>
            </figure>
          </section>
         
          <section class="col-sm-12 col-md-12 col-lg-8">
              <div class="row">
                  <div class="col-sm-12">
                    <a href="my-recipes.html" style="color: black; text-decoration: none"><h4 class="display-4" style="text-align: right; padding-right: 20px">MY RECIPES</h4></a>
                  </div>
                </div>
            <div class="row">
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image6.jpeg" alt="image 1"  class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image9.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image5.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image4.jpg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
            </div>
            <div class="row">
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image10.jpeg" alt="image 3" class="figure-img img-thumbnail mx-auto">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image4.jpg" alt="image 4"  class="figure-img img-thumbnail mx-auto">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image7.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
              <section class="col-sm-3">
                <figure class="figure">
                  <img src="assets/image/image5.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                  <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
                </figure>
              </section>
            </div>
          </section>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a href="my-favorites.html" style="color: black; text-decoration: none"><h4 class="display-4" style="text-align: right; padding-right: 20px; border-bottom: 1px solid lightgrey">MY FAVORITES</h4></a>
          </div>
        </div>
        <div class="row">
          <section class="col-sm-3">
            <figure class="figure">
              <img src="assets/image/image6.jpeg" alt="image 1"  class="figure-img img-thumbnail mx-auto float-right">
              <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
            </figure>
          </section>
          <section class="col-sm-3">
            <figure class="figure">
              <img src="assets/image/image9.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
              <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
            </figure>
          </section>
          <section class="col-sm-3">
            <figure class="figure">
              <img src="assets/image/image7.jpeg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
                <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
            </figure>
          </section>
          <section class="col-sm-3">
            <figure class="figure">
              <img src="assets/image/image8.jpg" alt="image 2" class="figure-img img-thumbnail mx-auto float-right">
              <figcaption class="figure-caption">Commodo Ligula<p><i class="fa fa-thumbs-up text-info" aria-hidden="true"></i>200 &nbsp; <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>122 &nbsp; <i class="fa fa-heart" aria-hidden="true" style="color:yellow"></i>350<p></figcaption>
            </figure>
          </section>
        </div>
      </section>
  
    
     <section>
      <footer class="fixed-bottom" style="background-color: rgba(73, 67, 67, 0.9); max-width: 100%; height: 30px;">
        <p class="text-center" style="margin-bottom: 5px; padding-top:5px; color: #fff; font-size:12px">&copy 2017 More-Recipes</p>
    
      </footer>
      </section>


    	<script src="assets/js/jquery-3.2.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
			<script src="assets/js/bootstrap.min.js" ></script>
			<script src ="assets/js/script.js"></script>
  </body>
</html>
