#slider {
   max-height:100%;
   max-width: 100%;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(114, 110, 110, 0.801);
  }
  .form-control{width:20%}
  
  h1, h2, h3, h4, h5,button, p, a, figcaption.fig-caption, input, label, li {
    font-family: Candara;
    color:#fff;
}
  