#slider {
   max-height:100%;
   max-width: 100%;
}
.bg, .register-bg{
  background: url("../image/food-9.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
  
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  
  top: 0;
  left: 0;
 
  }
  .view-recipe-bg {
    background-color: rgba(233, 165, 165, 0.099);
  }
  .view-recipe-container{
    background-color: rgba(145, 140, 140, 0.099);
  }

  .navbar-custom {

    background-color: rgba(73, 67, 67, 0.9);
  }
  #nav {
    background-color: transparent;
  }
.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(114, 110, 110, 0.801);
  }

.form-control:focus, {
  border: 2px solid rgba(27, 255, 164, 0.473);
  box-shadow: none;
}
  
  h1, h2, h3, h4, h5,p, a, label,figcaption.fig-caption,.figure-caption, li {
    font-family: kaushan script;
    color:rgb(155, 151, 151);
}


button{
  font-family: kaushan script;
  color:rgba(68, 66, 66, 0.693);

}
input {
  font-family: kaushan script;
  color:gray;

}
label{
  font-family: kaushan script;
  

}
  
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .navbar-register:hover{
    color: white;
    text-decoration: none
    
  }
  a:hover, h4:hover, .register-link:hover, .forgot-link:hover{
    font-weight: bold;
    
   }
  button:hover {
      color:black;
      font-weight: bold;
      background-color:rgba(54, 191, 136, 0.529);
  }

  .card-container {
    padding: 30px;
    max-width: 450px;
    width: 100% !important;
    background-color: rgba(73, 67, 67, 0.679);
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(27, 255, 164, 0.967);
    overflow: hidden;
    font-family: roboto;
    text-align: center;
  }
  
  .card-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
  }
  
  .card-container input[type=submit] {
    width: 30%;
    display:block;
    margin-bottom: 10px;
    position: relative;
    
    
    
    
  }
  
  .card-container input[type=text], input[type=password] {
    height: 35px;
    font-size: 16px;
    width: 70%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .card-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

  
  
  .login-card, .register-card {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
  }
  
  .login-card-submit, .register-card-submit{
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: rgba(27, 255, 164, 0.473);
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }
  
  .login-card-submit:hover, .register-card-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: rgba(5, 65, 41, 0.926);
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }
  
  .card-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  } 
  
  .login-help, .register-help {
    font-size: 12px;
  }
  